In [49]:
import pandas as pd

In [10]:
def bin8(decimal_number, num_bits=8):
    binary_representation = bin(decimal_number)[2:]  # Remove the '0b' prefix
    if len(binary_representation) < num_bits:
        binary_representation = '0' * (num_bits - len(binary_representation)) + binary_representation
    elif len(binary_representation) > num_bits:
        print(f"Warning: The binary representation of {decimal_number} requires more than {num_bits} bits.")

    return binary_representation

In [62]:
# Input values

module = {
    'Complex System':1,
    'AI':2,
    'Game Development':3
}
teacher = {
    'Akash Adhikari':1,
    'John Doe':2,
    'Shiva Raj Pandey':3
}
ltw = {
    'Lecture':1,
    'Tutorial':2,
    'Workshop':3
}
level = {
    4:4,
    5:5,
    6:6
}
group = {
    1:1,
    2:2,
    3:3,
    4:4,
    5:5
}
time_duration = {
    '2':1,
    '2.5':2
}
time_shift = {
    '7-3':1,
    '9-5':2
}

# Output values

class_ = {
    'Wulfurna':1,
    'Walsall':2,
    'Stafford':3,
    'Mander':4,
    'Compton':5
}
day = {
    'Sunday':1,
    'Monday':2,
    'Tuesday':3,
    'Wednesday':4,
    'Thursday':5,
    'Friday':6
}
time = {
    "6:30":1,
    "7:00":2,
    "7:30":3,
    "8:00":4,
    "8:30":5,
    "9:00":6,
    "9:30":7,
    "10:00":8,
    "10:30":9,
    "11:00":10,
    "11:30":11,
    "12:00":12,
    "12:30":13,
    "13:00":14,
    "13:30":15,
    "14:00":16,
    "14:30":17,
    "15:00":18
}

### Input values
**Module Name**: Complex System  
**Teacher Name**: Akash Adhikari  
**Class Type**: Tutorial  
**Level**: 6  
**Group**: 4

In [70]:
a = bin8(module["Complex System"]) \
+ bin8(level[6]) \
+ bin8(teacher["Akash Adhikari"]) \
+ bin8(time_shift["9-5"]) \
+ bin8(ltw["Tutorial"]) \
+ bin8(time_duration["2"]) \
+ bin8(group[4])

# module defines level
# ltw defines time duration

# Rules
# teacher defines his/her time shift

### Output values
**Class**: Stafford  
**Day**: Sunday  
**Time**: 9:00

In [71]:
b = bin8(class_["Stafford"]) \
+ bin8(day["Sunday"]) \
+ bin8(time["9:00"])

### Input values
**Module Name**: AI  
**Teacher Name**: John Doe  
**Class Type**: Tutorial  
**Level**: 6  
**Group**: 5

In [72]:
c = bin8(module["AI"]) \
+ bin8(level[6]) \
+ bin8(teacher["John Doe"]) \
+ bin8(time_shift["9-5"]) \
+ bin8(ltw["Tutorial"])\
+ bin8(time_duration["2"]) \
+ bin8(group[5])

### Output values
**Class**: Stafford  
**Day**: Sunday  
**Time**: 11:00

In [73]:
d = bin8(class_["Stafford"]) \
+ bin8(day["Sunday"]) \
+ bin8(time["11:00"])

In [74]:
pd.DataFrame({'Input':[a,c],'Output':[b,d]})

                                               Input                    Output
0  0000000100000110000000010000001000000010000000...  000000110000000100000110
1  0000001000000110000000100000001000000010000000...  000000110000000100001010